[OUTPUT]
    Name es
    Match {{ output_es_match }}
    Host  {{ output_es_host }}
    Port  {{ output_es_port }}
    Index {{ output_es_index }}
    Type  {{ output_es_type }}
    Logstash_Format {{ output_es_logstash_format }}
    Logstash_Prefix {{ output_es_logstash_prefix }}
    Buffer_Size {{ output_es_buffer_size }}