[Unit]
Description=Prometheus Server
Documentation=https://github.com/prometheus/prometheus

[Service]
Restart=always
User={{ prometheus_default_user }}
Group={{ prometheus_default_group }}
EnvironmentFile={{ prometheus_env_file }}
ExecStart={{ prometheus_bin_dir }}/prometheus $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
